* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header h1 {
    inline-size: auto;
}

header {
    display: flex;
    align-items: center;      /*  centra todos items */
    justify-content: flex-start; /* Espacio entre items */
    gap: 20rem;  
    width: 100%; 
    height: 100%;        
}

main {
    display: flex;
    flex: 1; /* Ocupa todo el espacio disponible */
    flex-direction: column; /* Alinea los elementos en columna */
    padding: 2rem;
}

header img {
    height: 50px; 
}

header main {
    flex: unset
}

header h1 {
    margin: 0;
}

header input {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #ff9800;
    color: white;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s;
}

header input:hover {
    background-color: #e65100;
}
header input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-title {
    color: inherit;
    text-decoration: none;
    font: inherit;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}



nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #ff9800;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s;
}

nav a:hover {
    background-color: #e65100;
}

nav a.active {
    background-color: #ff9800;   
    color: #fff;                 
    opacity: 0.6;                
    pointer-events: none;        
    cursor: default;             
    font-weight: bold;
}

.mecarousel-caption {
  background: rgba(0, 0, 0, 0.6); /* semi-transparent black */
  color: #fff;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}