@import "./SASS/utilities/variables";
@import "./SASS/utilities/base";
@import "./SASS/utilities/mixins";
@import "./SASS/layout/header";
@import "./SASS/layout/nav";
@import "./SASS/layout/footer";
@import "./SASS/layout/main";
@import "./SASS/layout/shop";
@import "./SASS/layout/createAccount";
@import "./SASS/layout/teachers";
@import "./SASS/layout/searchBand";
@import "./SASS/layout/foroum";

/*Reseteo pagina de formatos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}