header h1 {
    inline-size: auto;
}

header {
    display: flex;
    align-items: center;
    /*  centra todos items */
    justify-content: flex-start;
    /* Espacio entre items */
    gap: 10rem;
    width: 100%;
    height: 100%;
}


header img {
    height: 50px;
    ;
}

header main {
    flex: unset
}

header h1 {
    margin: 0;
}

/* Estilos del logo y título */
header input {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: $color-primario;
    color: $color-blanco;
    border-radius: $border-radius-btn;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.2s;
}

header input:hover {
    background-color: $color-primario-hover;
}

header input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transform: skew(-10deg); /* Efecto de inclinación */
}

.logo-title {
    color: inherit;
    text-decoration: none;
    font: inherit;
}