nav {
    position: relative;
    z-index: 10;
}

/* Estilos de navegación y carousel para pantallas pequeñas */
@media (max-width: $breakpoint-mobile) {
    body {
        font-size: $font-size-base;
        background-color: $color-bg;
    }

    .navbar-collapse {
        background: $color-primario;
        border-radius: $border-radius-btn;
    }

    .navbar {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0.5rem 1rem;
        background: $color-nav;
    }

    .navbar-toggler {
        display: block !important;
        z-index: 1001;
        background: $color-nav; // para que se vea el icono
        border: none;
    }

    .navbar-brand,
    .logo {
        margin-bottom: 0.5rem;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
}

/* Estilos de navegación y carousel para pantallas grandes */
@media (min-width: $breakpoint-desktop) {
    nav {
        display: flex;
        /* Centra el contenido del nav */
        align-items: center;
        padding: 1rem;
    }

    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0.5rem 0;
        border-radius: 10px;
        background-color: $color-primario;
        color: $color-blanco;
        text-decoration: none;
        font-weight: $font-weight-bold;
        transition: background 0.2s;
        min-width: 100px;
    }

    .navbar-nav,
    nav ul {
        display: flex;
        gap: 1rem;
        margin-left: auto;
    }

    nav li {
        display: inline-block;
        color: $color-blanco;
        border-radius: 5px;
        text-decoration: none;
        flex: 1 1 0; // hace que todos los li elemento crezcan igual
        font-weight: $font-weight-bold;
        transition: background 0.2s;
        min-width: 120px; // ancho mínimo para que no se colapse
    }

    #mainCarousel {
        max-height: 500px;
        /* Ajusta este valor según lo que prefieras */
        overflow: hidden;
        margin-bottom: 2rem;
    }

    #mainCarousel .carousel-item img {
        max-height: 500px;
        /* Igual que el carousel */
        width: 100%;
        object-fit: cover;
    }

    nav a:hover {
        background-color: $color-primario-hover;
    }
    
    nav li.active>a,
    nav a.active {
        background-color: $color-secundario;
        color: $color-blanco;
        opacity: 0.6;
        pointer-events: none;
        cursor: default;
        font-weight: bold;
    }

}


.mecarousel-caption {
    background: $color-sombra;
    /* semi-transparent black */
    color: $color-blanco;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}