.teachers-main {
  max-width: 1024px;
  margin: 0 auto;
}

.teachers-filter .filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.teachers-filter input,
.teachers-filter select {
  min-width: 120px;
  max-width: 200px;
  width: 100%;;
  flex: 1 1 150px;
}

.teachers-filter,
.teachers-filter .filter-group {
  overflow: visible !important;
  position: static !important;
}

.teachers-filter button {
  white-space: nowrap;
  font-weight: bold;
}

// Estilos para la lista de profesores usando flex box
.teachers-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.teacher-card {
 @extend %base-contact-card;
}

.teacher-card h4 {
  margin-bottom: 0.5rem;
  color: $color-terciario;
}

.teacher-info {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: 1rem;
}

.btn-orange, // clase personalizada para botones naranja
.teachers-filter button {
  @extend %btn-search;
}

.btn-orange:hover,
.teachers-filter button:hover {
  background: $color-primario-hover;
}