%card-base {
  background: #fffbe6;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 1rem;
}

 %base-contact-card{
  border: 2px solid $color-primario;
  border-radius: 10px;
  background: $color-blanco;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 1.5rem;
}